# Directories store md for codex
.codex/

# Build artifact
incollege
inCollege
inCollegeTest

# Temporary test files
io/result.txt
io/test*_result.txt

temp/

.devcontainer
.vscode
.DS_Store

